.overlay {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding-top: 150px;
}

.login {
    height: 350px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2000;
}